@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  font-family: 'Nunito', sans-serif;

}
/* Navigation Bar */
.navbar{
  padding: 20px 10px 20px 0px;
  background-color: #000;
  transition: all ease 0.4s;
}
.navbar-brand{
  font-size: 22px;
  margin-left: 35px;
  font-family: 'Nunito',sans-serif;
  color: white !important;
}
.nav-item .nav-link{
  font-size: 16px;
  color: red;
}
.navbar .nav-link :hover{
  color: yellow;
}


/*---HOME---*/
#home{
  background-image: url(img/home1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#home .content{
	margin-top: 20%;
	margin-left: 18px;

}
#home h1 {
  font-size: 4rem;
  color: #000;
}

#home h2{
	font-size: 4rem;
	color: crimson;
}

.cta{
  padding: 12px 20px;
  background: crimson;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all .3s ease-in;
}
.cta:hover{
  background: transparent;
  color: #000;
  border: 2px solid crimson;
}
/* CATEGORIES */
#category{
  border-radius: 10px;
  background-image: papayawhip;
  background-size: cover;
}

.contentt{
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#category .category-card{
  width: 100%;
  padding: 60px 0px;
  height: 20%;
}

#category .card{
  
  border: none;
  box-shadow: 0px 4px 4px 0px #000;
  border-radius: 8mm;
  padding: 20px 0px;
  text-align: center;
}

#category .card:hover{
  background: #fff;
  box-shadow: 3px 3px 10px 6px #6e6b6b;
}

#category.card img{
  align-items: center;
}

#category .card-img-top{
  border-top-left-radius: calc(1.25rem - 1px);
  border-top-right-radius: calc(1.25rem - 1px);
  margin-top: -20px;
  height: 24vh;
}
.card-heading{
  text-align: center;
  color: #3d2514;
  font-size: 26px;
}
.card-per{
  text-align: center;
  font-size: 16px;
  color: #3d2514;
}
#category .btn-primary{
  background-color: crimson;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 20px;
  transition: all .3s ease-in;
  letter-spacing: 1px;
  margin-top: 15px;
}

#category .btn-primary:hover, #category .btn-primary:focus{
  background: transparent;
  color: #000;
  border: 2px solid crimson;
}
.btnn{
  padding: 12px 20px;
  background: rgb(20, 220, 70);
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all .3s ease-in;
}
.btnn:hover{
  background: transparent;
  color: #000;
  border: 2px solid rgb(20, 220, 70);
}

/*----ABOUT----*/
#about{
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(img/about.jpg);
}
.content{
  justify-content: center;
  align-items: center;
  margin-top:10%;
}
#about h2{
  color: crimson;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: normal;
}
#about p{
  color: #000;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}
#reviews{
	position: relative;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-color: papayawhip;
	background-size: cover;
}
#reviews h1{
  text-align: center;
  margin-top: 5%  ;
}
.client-review {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 13rem 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid crimson;
}

.client-review *,
.client-review *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.client-review figcaption {
  padding: 13% 10% 12%;
}

.client-review figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: crimson;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.client-review h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.client-review h4 {
  font-weight: 400;
  margin: 0;
}

.client-review blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}
#discount{
	position: relative;
	background-image: url(img/Discount1.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;	
	background-size: cover;
}
#discount .contentt{
	margin-top: 48%;
}
#discount h5{
	margin-left: 2%;
	color: crimson;
	font-size: 45px;
	font-weight: 600;
}
#discount h2{
	margin-left: 2%;
	color: #000;
	letter-spacing: normal;
	font-size: 35px;
	font-weight: 600;
}

.img-content{
  margin-top: 45%;
}
#discount img{
  width: 90%;
  border-radius: 8mm;
  margin-left: 55px ;
}

/* The colour of the indicators */
.contentt h1{
  text-align: center;
  margin-bottom: 4%;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}

#contact{
  position: relative;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-color: papayawhip;
	background-size: cover;  
  padding: 2rem 9%;
}
#contact .service_content{
	justify-content: center;
	align-items:center; 
	padding-top: 75px;
}
#contact h1{
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 40.5px;
	letter-spacing: normal;
}
#contact  p{
	color: crimson;
	letter-spacing: normal;
	text-align: center;
	font-weight: 600;
	margin-bottom: 2rem;
}
#contact .maine{
  width: 63%;
	margin-right: auto;
	margin-left: auto;
	
}
#contact .contentte{
	display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}
#contact .contentte h5{
	color: #000;
	text-align: left;
	font-size: 15px;
	font-weight: 700;

}
#contact .maine p{
	color: #000;
	text-align: left;
	font-size: 15px;
	font-weight: 600;
	margin-left: 2rem;
}
iframe{
  border-radius:4mm;
  width: 25rem;
  height: 37vh;
  box-shadow: 0px 2px 2px black;
}

/*----Footer----*/
.footer-07 {
  background: #121212;
  height: 35vh; 
}
.footer-07 a {
  color: #fff; 
}
.footer-07 p {
  color: rgba(255, 255, 255, 0.3); 
}
.footer-07 .footer-heading {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-top: 30px;
}
.footer-07 .footer-heading .logo {
  color: #fff; 
}
.footer-07 .menu {
  margin-bottom: 30px; 
}
.footer-07 .menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-07 .ftco-footer-social li a {
  background: transparent;
  border: 1px solid #a3de83;
}

#CATEGORIES{
  background-image: url(img/a77ff4c017e2a282e9ebf9ce3919caac.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.pro{
  margin-top: 22%;
  text-align: center;
}
.pro h3{
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  color: crimson;
}
#CATEGORIES p{
  font-size: 25px;
  color: #000;
  font-weight: bold;
}


@media only screen and (max-width: 425px){
  #home .content{
    margin-top: 30%;
    margin-left: 8px;
  }
  #discount{
    height: unset;
  }
  #discount .contentt {
    margin-top: 8%;
  }
  #discount img {
  margin-left: 20px;
  }
  #reviews{
    height: unset;
  }
  .client-review {
    margin: 13rem 5px 10px;
  }
  #contact{
    height: unset;
    padding: unset;
  }
  iframe{
    width: 13rem;
  }
  .footer-07{
    height: unset;
  }
  #CATEGORIES{
    height: unset;
  }
  .pro{
    margin-top: 30%;
  }
  .pro h3{
    font-size: 4rem;
  }

}